.title {
  font-family: Comfortaa;
  color: #61b47b;
}
.heroBackground {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(97, 180, 123, 0.4) 0%,
    rgb(255, 255, 255) 100%
  );
}

.whiteBackground {
  background-color: #f8f9fb;
  border-color: #f8f9fb;
}
